.questionWrapperEads {
  width: 80%;
  margin: 0 10%;
  padding-bottom: 21px;
}

.questionEads {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: var(--crimson);
  font-weight: normal;
  letter-spacing: 1px;
  display: inline-block;
  width: auto;
}

.responseEads, .questionEndEads {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  padding-left: 5%;
  color: #363636;
  width: 90%;
}

a {
  color: var(--crimson);
}

span, .questionEndEads {
  font-weight: bold;
}

.questionEndEads {
  font-size: 15px;
}

/* Dropdown Arrows */
.arrowWrapperEads {
  width: 40%;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 21px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  top: 73px;
  visibility: hidden;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  top: 73px;
}

th {
  padding-bottom: 4px;
  border-width: 1px;
  border-color: #7C7D7E;
  border-bottom-style: solid;
}

td {
  padding: 11px 0px;
  border-width: 1px;
  border-bottom-style: solid;
  border-color: #C2C3C4;
}

tr.hoverable:hover {
  background-color: #A0A1A290;
}

.tbl {
  width: 97%;
  margin: 0px 1.5%;
}

.printerType {
  font-size: 22px;
  font-weight: normal;
  color: #A0A1A2;
}

.firstCol {
  padding-left: 10px;
}

.model {width: 12.75%}
.count {
  text-align: center;
  width: 6.25%;
}
.material {width: 18%}
.volume {width: 12.5%}
.resolution {width: 17.5%}
.submit {width: 18.5%}
.information {width: 14%}

.btn {
  min-width: 350px;
  width: 50%;
  margin: 21px 25%;
  padding: 18px 42px;
  height: auto;
  margin-top: 35px;

  line-height: 1.15;
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 18px;

  border: solid 3px var(--crimson);
}

.btn:hover {
  background: var(--crimson);
  color: white;
  border: solid 3px var(--crimson);
}

.news, .news-v2 {
  margin-bottom: 16px;
}
